TODO.md
config/omf
config/lexical
config/github-copilot
config/tmux
config/AWS\ VPN\ Client
config/AWSVPNClient
config/gh
config/elixir-ls
config/nvim/pack
config/fish/fish_variables
config/configstore
config/yarn
config/fish/conf.d/uv.env.fish
config/mcphub/
config/uv/
cli/**
config/pgcli/history
config/pgcli/log

claude/plugins
claude/projects
claude/todos
claude/shell-snapshots
claude/statsig
claude/debug
claude/file-history
claude/history.jsonl
claude/settings.json

claude/tmp.txt
CLAUDE.md

config/opencode/secrets/
.opencode
