TODO.md
config/**
!config/alacritty
!config/fish
!config/fish/*
!config/fish/functions/*
!config/git
!config/lua
!config/nvim
!config/opencode
config/fish/fish_variables
cli/**

claude/*
!claude/agents
!claude/skills
!claude/templates
!claude/hooks
!claude/commands
CLAUDE.md

config/opencode/secrets/
.opencode
